body {
    margin: 0;
    font-family: Arial;
    background: white;
}

.screen {
    display: none;
}
.active {
    display: block;
}

/* 按钮统一风格 */
.btn {
    background: #dbeafe;
    color: #9ca3af;
    border: none;
    border-radius: 10px;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
}

/* 首页 */
.main-title {
    height: 33vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu .btn {
    width: 260px;
    margin: 10px;
}

/* 位置 */
.back {
    position: fixed;
    left: 12px;
    top: 12px;
}

.sticker-btn {
    position: fixed;
    right: 12px;
    top: 12px;
}

/* Save按钮 */
.save-btn {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

/* TODO */
#todo-area {
    margin-left: 33%;
    margin-top: 80px;
}

.todo-line {
    display: flex;
    margin: 12px 0;
    font-size: 22px;
}

.box {
    width: 22px;
    height: 22px;
    border: 1px solid black;
    margin-right: 10px;
}

.partial {
    background: linear-gradient(to top, #a0c4ff 50%, white 50%);
}

.full {
    background: #a0c4ff;
}

.input {
    border: none;
    font-size: 22px;
    outline: none;
}

/* 贴纸 */
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sticker {
    position: absolute;
    width: 70px;
}

/* 面板 */
#sticker-panel {
    position: fixed;
    right: 20px;
    top: 80px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
}

.hidden {
    display: none;
}

/* Past */
#past-content {
    margin-left: 33%;
    margin-top: 80px;
    font-size: 22px;
}

/* Record */
.big-rate {
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.small-title {
    margin-left: 33%;
    color: gray;
}

.chart-box {
    width: 33%;
    height: 33vh;
    margin: auto;
    position: relative;
}

#no-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: gray;
}
